@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffab1;
  --foreground: #000000;
  --text: #F2C438;
  --accent: #F29A2E;

  --button: #dc776e;
  --buttonHover: #D95A4E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A2137;
    --foreground: #FFFFFF;
    --foreground2: #A89B3A;
    --text: #C9A02D;
    --accent: #C77623;

    --button: #A64434;
    --buttonHover: #72291e;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: var(--font-quicksand, Arial, Helvetica, sans-serif) !important;
}

.button {
  background-color: var(--button);
  color: var(--foreground);
}

.button:hover {
  background-color: var(--buttonHover);
}

.modal {
  color: var(--foreground);
  background: var(--background);
}

.text-field {
  width: 220px;
}

.text-field-xl {
  width: 565px;
}

/* Estilos SweetAlert*/
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
