@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffab1;
  --foreground: #000000;
  --text: #F2C438;
  --accent: #F29A2E;
  
  --button: #dc776e;
  --buttonHover: #D95A4E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A2137;
    --foreground: #FFFFFF;
    --foreground2: #A89B3A;
    --text: #C9A02D;
    --accent: #C77623;

    --button: #A64434;
    --buttonHover: #72291e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: var(--button);
  color: var(--foreground);
}

.button:hover {
  background-color: var(--buttonHover);
}

.modal {
  color: var(--foreground);
  background: var(--background);
}